.wrapperMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-height: 40px;
  padding: 20px 32px;
  background: var(--primary-white-color);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.link {
  box-sizing: border-box;
  height: 40px;
  padding: 10px;
}

.active {
  border-bottom: 2px solid var(--dark-blue-color);
}
